<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <div th:fragment="header">
        <title th:attr="data-custom=#{thymeleaf.app.title}">Store</title>
        <link rel="stylesheet" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.4.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles.css}"/>
        <script src="http://cdn.jsdelivr.net/webjars/jquery/3.5.1/jquery.min.js" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    </div>

</head>

<body>

<div th:fragment="navbar">
    <nav class="navbar">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">Store</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse navbar-right">

                <ul class="new navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="active"><a th:href="@{/cart}">Shopping Cart</a></li>
                </ul>

                <ul class="nav navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="active"><a th:href="@{/registration}">Registration</a></li>
                </ul>

                <ul class="nav navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="active"><a th:href="@{/login}">Login</a></li>
                </ul>

                <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="active"><a th:href="@{/logout}">Sign Out</a></li>
                </ul>

            </div>
        </div>
    </nav>
</div>

</body>

</html>